.app {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #0e0231;
}

.nav-bar {
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 0rem;
}

.nav-bar a {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
}

a {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: #018091;
  text-decoration-thickness: 30%;
  text-underline-offset: 20%;
  cursor: pointer;
}

.logo {
  width: 125px;
  height: 125px;
}

.home {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  background: #111;
  transition: 0.5s;
  z-index: 2;
  opacity: 0.8;
}

.home video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.8;
}

.home h1 {
  background-color: rgb(0, 254, 203, .6);
  max-width: 75%;
  font-size: 38px;
}

.home h3 {
  font-weight: 425;
}

.home button {
  background-color: rgb(0, 254, 203, .6);
  color: white;
  border: 0;
  height: 40px;
  width: 80px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
}

.text {
  z-index: 100;
  position: relative;
  padding-top: 8rem;
  padding-left: 15rem;
  color: white;
  max-width: 30%;
}

.signup {
  color: white;
  text-align: center;
  padding-bottom: 20rem;
}

.mountains {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.mountains h1 {
  padding-left: 4rem;
}

.mountains h3 {
  padding-left: 4rem;
}

.mountains img {
  padding-left: 4rem;
}

.mountains ul {
  padding-left: 4rem;
  padding-bottom: 1rem;
}

.mountains li {
  margin-left: 1rem;
  padding-top: 1rem;
}

.mountains a {
  padding-left: 9rem;
}

.favorites {
  color: white;
  padding-left: 4rem;
}
